# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here

# Google Gemini API Key
GOOGLE_API_KEY=your_google_geminiapi_key_here

# GROQ API Key
GROQ_API_KEY=your_groq_api_key_here

# Embedding model configurations
OPENAI_MODEL=text-embedding-3-small
GOOGLE_MODEL=models/embedding-001
HUGGINGFACE_MODEL=sentence-transformers/all-MiniLM-L6-v2

# PostgreSQL with PGVector configuration
PGVECTOR_URL=postgresql+psycopg://postgres:postgres@host.docker.internal:5432/rag
PGVECTOR_COLLECTION=gpt5_collection